@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 62.5%;
}

body::before {
    content: "";
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: zoomBackground 20s infinite;
}

@keyframes zoomBackground {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1);
    }
}

.container {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    /* color: #fff; */
}

.profile-card {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 550px;
    position: relative;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 4rem 5rem;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 40px;
}

.profile-card_img  img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    box-shadow: 0 10px 60px -10px rgba(13, 28, 39, 0.5);
}

.profile-card__top {
    text-align: center;
}

.profile-card__top h3 {
    font-weight: 700;
    font-size: 2.5rem;
    color: whitesmoke;
}

.profile-card__top p {
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: 300;
    color: whitesmoke;
}

.profile-card__top p i {
    margin-right: 5px;
}

.profile-card__exp {
    display: flex;
    justify-content: space-around;
}

.profile-card__exp-text {
    text-align: center;
}

.profile-card__exp-text .profile-card__exp-number {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 2rem;
}

.profile-card__exp-text .profile-card__exp-title {
    font-weight: 500;
    font-size: 1.3rem;
    color: whitesmoke;
    margin-top: 20px;
    /* color: #fff; */
}

.profile-card__social {
    display: flex;
    justify-content: space-around;
}

.profile-card__social a {
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    transition: all 0.3s;
}


.profile-card__social a:hover {
    transform: translateY(-10px);
}

.profile-card__social a svg {
    color: #fff;
}

.profile-card__social .instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}

.profile-card__social .linkedin {
    background: linear-gradient(45deg, #1769ff, #213fca);
    box-shadow: 0 4px 30px rgba(27, 86, 231, 0.7);
}

.profile-card__social .github {
    background: linear-gradient(45deg, #333, #626b73);
    box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
}
.profile-card__social .amoremio {
    background: linear-gradient(45deg, red, black);
    box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
}

.profile-card__action {
    display: flex;
    justify-content: space-around;
}

.profile-card__action-btn {
    color: #fff;
    font-size: 2rem;
    padding: 15px 0;
    min-width: 200px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    font-weight: 400;
}

.profile-card__action .orange {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0 4px 30px rgba(233, 45, 70, 0.35);
}

.profile-card__action .orange:hover {
    box-shadow: 0 7px 30px rgba(233, 45, 70, 0.75);
    transform: translateY(-10px);
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #6f1ab6 #a20000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #a20000;
  }

  *::-webkit-scrollbar-thumb {
   
    border-radius: 17px;
    border: 1px solid #3d1766;
  }